{% extends 'partials/base.html' %}

{% load django_bootstrap5 %}
{% load static %}

{% block css %}
 <link rel="stylesheet" href="{% static 'main/css/login.css' %}" media="screen">
{% endblock %}

{% block content %}
    <div class="all">
        <h1 style="color:transparent;">Login</h1>

        <h2 class="form-signin-heading" style="text-align:center;">Login</h2>
      <div class="wrapper">
        <form method="POST" class="form-signin">
            {% csrf_token %}

                {% bootstrap_form form wrapper_class='col-8 offset-2 my-4' %}

            <button class="btn btn-primary a-button" type="submit">Login</button>
        </form>
      </div>
  </div>
{% endblock %}

