{% extends 'partials/base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block css %}
 <link rel="stylesheet" href="{% static 'main/css/registeration.css' %}" media="screen">
{% endblock %}


{% block content %}
<div class="all">
    <div>
        <h1 style="color:transparent;">Appoint a video-chat!</h1>
    </div>
    <div class="form_wrapper">
      <div class="form_container">
        <div class="title_container">
          <h2>Registration Form</h2>
        </div>
        <div class="row clearfix">
          <div class="form">
            <form method="POST" enctype="multipart/form-data" class="form">
                {% csrf_token %}

                {% bootstrap_form form wrapper_class='col-5 offset-3 my-4' %}

                <button type="submit" class="btn btn-primary a-button">Schedule</button>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}
