.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 300px;
}

.u-section-1 .u-text-1 {
  width: 762px;
  margin: 69px 189px 0;
}

.u-section-1 .u-text-2 {
  width: 647px;
  margin: 30px 247px 0;
}

.u-section-1 .u-list-1 {
  width: 1183px;
  margin: 43px -43px 0 auto;
}

.u-section-1 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 20px);
  grid-template-columns: calc(33.3333% - 20px) calc(33.3333% - 20px) calc(33.3333% - 20px);
  grid-gap: 30px 30px;
  min-height: 100px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 13px;
}

.u-section-1 .u-text-3 {
  font-weight: normal;
  text-transform: none;
  margin: 0 19px 0 0;
}

.u-section-1 .u-text-4 {
  font-size: 1rem;
  margin: 9px 104px 0 85px;
}

.u-section-1 .u-text-5 {
  font-size: 1rem;
  margin: 11px 104px 0 85px;
}

.u-section-1 .u-text-6 {
  font-style: italic;
  font-size: 1rem;
  margin: 7px 8px 0 12px;
}

.u-section-1 .u-text-7 {
  font-size: 1.125rem;
  margin: 13px 196px 0 0;
}

.u-section-1 .u-text-8 {
  font-size: 1.125rem;
  margin: 19px 197px 0 0;
}

.u-section-1 .u-line-1 {
  transform-origin: right center 0px;
  width: 314px;
  margin: 9px auto 0 0;
}

.u-section-1 .u-btn-1 {
  font-size: 0.625rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: 13px auto 0 12px;
  padding: 6px 12px 7px;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 30px 13px;
}

.u-section-1 .u-text-9 {
  font-weight: normal;
  text-transform: none;
  font-size: 1.875rem;
  margin: 0 19px 0 0;
}

.u-section-1 .u-text-10 {
  font-size: 1rem;
  margin: 9px 104px 0 85px;
}

.u-section-1 .u-text-11 {
  font-size: 1rem;
  margin: 11px 104px 0 85px;
}

.u-section-1 .u-text-12 {
  font-style: italic;
  font-size: 1rem;
  margin: 7px 8px 0 12px;
}

.u-section-1 .u-text-13 {
  font-size: 1.125rem;
  margin: 13px 196px 0 0;
}

.u-section-1 .u-text-14 {
  font-size: 1.125rem;
  margin: 19px 197px 0 0;
}

.u-section-1 .u-line-2 {
  width: 314px;
  transform-origin: right center 0px;
  margin: 9px auto 0 0;
}

.u-section-1 .u-btn-2 {
  font-size: 0.625rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: 13px auto 0 12px;
  padding: 6px 12px 7px;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 30px 13px;
}

.u-section-1 .u-text-15 {
  font-weight: normal;
  text-transform: none;
  font-size: 1.875rem;
  margin: 0 19px 0 0;
}

.u-section-1 .u-text-16 {
  font-size: 1rem;
  margin: 9px 104px 0 85px;
}

.u-section-1 .u-text-17 {
  font-size: 1rem;
  margin: 11px 104px 0 85px;
}

.u-section-1 .u-text-18 {
  font-style: italic;
  font-size: 1rem;
  margin: 7px 8px 0 12px;
}

.u-section-1 .u-text-19 {
  font-size: 1.125rem;
  margin: 13px 196px 0 0;
}

.u-section-1 .u-text-20 {
  font-size: 1.125rem;
  margin: 19px 197px 0 0;
}

.u-section-1 .u-line-3 {
  width: 314px;
  transform-origin: right center 0px;
  margin: 9px auto 0 0;
}

.u-section-1 .u-btn-3 {
  font-size: 0.625rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: 13px auto 0 12px;
  padding: 6px 12px 7px;
}

.u-section-1 .u-list-item-4 {
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 30px 13px;
}

.u-section-1 .u-text-21 {
  font-weight: normal;
  text-transform: none;
  font-size: 1.875rem;
  margin: 0 19px 0 0;
}

.u-section-1 .u-text-22 {
  font-size: 1rem;
  margin: 9px 104px 0 85px;
}

.u-section-1 .u-text-23 {
  font-size: 1rem;
  margin: 11px 104px 0 85px;
}

.u-section-1 .u-text-24 {
  font-style: italic;
  font-size: 1rem;
  margin: 7px 8px 0 12px;
}

.u-section-1 .u-text-25 {
  font-size: 1.125rem;
  margin: 13px 196px 0 0;
}

.u-section-1 .u-text-26 {
  font-size: 1.125rem;
  margin: 19px 197px 0 0;
}

.u-section-1 .u-line-4 {
  width: 314px;
  transform-origin: right center 0px;
  margin: 9px auto 0 0;
}

.u-section-1 .u-btn-4 {
  font-size: 0.625rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: 13px auto 0 12px;
  padding: 6px 12px 7px;
}

.u-section-1 .u-list-item-5 {
  background-image: none;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px 30px 13px;
}

.u-section-1 .u-text-27 {
  font-weight: normal;
  text-transform: none;
  font-size: 1.875rem;
  margin: 0 19px 0 0;
}

.u-section-1 .u-text-28 {
  font-size: 1rem;
  margin: 9px 104px 0 85px;
}

.u-section-1 .u-text-29 {
  font-size: 1rem;
  margin: 11px 104px 0 85px;
}

.u-section-1 .u-text-30 {
  font-style: italic;
  font-size: 1rem;
  margin: 7px 8px 0 12px;
}

.u-section-1 .u-text-31 {
  font-size: 1.125rem;
  margin: 13px 196px 0 0;
}

.u-section-1 .u-text-32 {
  font-size: 1.125rem;
  margin: 19px 197px 0 0;
}

.u-section-1 .u-line-5 {
  width: 314px;
  transform-origin: right center 0px;
  margin: 9px auto 0 0;
}

.u-section-1 .u-btn-5 {
  font-size: 0.625rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: 13px auto 0 12px;
  padding: 6px 12px 7px;
}

.u-section-1 .u-list-item-6 {
  background-image: none;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px 30px 13px;
}

.u-section-1 .u-text-33 {
  font-weight: normal;
  text-transform: none;
  font-size: 1.875rem;
  margin: 0 19px 0 0;
}

.u-section-1 .u-text-34 {
  font-size: 1rem;
  margin: 9px 104px 0 85px;
}

.u-section-1 .u-text-35 {
  font-size: 1rem;
  margin: 11px 104px 0 85px;
}

.u-section-1 .u-text-36 {
  font-style: italic;
  font-size: 1rem;
  margin: 7px 8px 0 12px;
}

.u-section-1 .u-text-37 {
  font-size: 1.125rem;
  margin: 13px 196px 0 0;
}

.u-section-1 .u-text-38 {
  font-size: 1.125rem;
  margin: 19px 197px 0 0;
}

.u-section-1 .u-line-6 {
  width: 314px;
  transform-origin: right center 0px;
  margin: 9px auto 0 0;
}

.u-section-1 .u-btn-6 {
  font-size: 0.625rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: 13px auto 0 12px;
  padding: 6px 12px 7px;
}

.u-section-1 .u-btn-7 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 96px 361px 0 auto;
}

.u-section-1 .u-btn-8 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: -45px auto 60px 404px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 89px;
    margin-right: 89px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 147px;
    margin-right: 147px;
  }

  .u-section-1 .u-list-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 644px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    font-weight: normal;
    margin-left: 0;
  }

  .u-section-1 .u-text-9 {
    margin-right: 0;
  }

  .u-section-1 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-11 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-13 {
    margin-right: 0;
  }

  .u-section-1 .u-text-14 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    font-weight: normal;
    margin-left: 0;
  }

  .u-section-1 .u-text-15 {
    margin-right: 0;
  }

  .u-section-1 .u-text-16 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-17 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-18 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-19 {
    margin-right: 0;
  }

  .u-section-1 .u-text-20 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-3 {
    font-weight: normal;
    margin-left: 0;
  }

  .u-section-1 .u-text-21 {
    margin-right: 0;
  }

  .u-section-1 .u-text-22 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-23 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-24 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-25 {
    margin-right: 0;
  }

  .u-section-1 .u-text-26 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-4 {
    font-weight: normal;
    margin-left: 0;
  }

  .u-section-1 .u-text-27 {
    margin-right: 0;
  }

  .u-section-1 .u-text-28 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-29 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-30 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-31 {
    margin-right: 0;
  }

  .u-section-1 .u-text-32 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-5 {
    font-weight: normal;
    margin-left: 0;
  }

  .u-section-1 .u-text-33 {
    margin-right: 0;
  }

  .u-section-1 .u-text-34 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-35 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-36 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-37 {
    margin-right: 0;
  }

  .u-section-1 .u-text-38 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-6 {
    font-weight: normal;
    margin-left: 0;
  }

  .u-section-1 .u-btn-7 {
    margin-right: 161px;
  }

  .u-section-1 .u-btn-8 {
    margin-left: 204px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 37px;
    margin-right: 37px;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(50% - 15px);
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
  }

  .u-section-1 .u-btn-7 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-8 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-9 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-15 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-21 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-27 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-33 {
    font-size: 1.5rem;
  }
}

#blocks{
    display: flex;
}

.take-job{
    margin-top: 30px;
    text-align: center;
}

.skills {
    display: flex;
    flex-wrap: wrap;
}

.pagination{
    display: flex;
    margin-top: 30px;
    margin-left: 40%;
    margin-right: 40%;
    justify-content: space-between;
}